// site header
  .site-header {
    background: green;
    overflow: hidden;

    & h1 {
      margin: 0;
      font-size: 1rem;
      color: #fff;
      line-height: 1;
      text-align: center;
      font-weight: normal;
    }
  }