<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="stylesheet" href="/trained-to-thrill/static/css/all.css">
    <script>
      document.addEventListener('load', function(event) {
        if (event.target.tagName == 'IMG') {
          event.target.classList.add('loaded');
        }
      }, true);
    </script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="/trained-to-thrill/static/js/all.js"></script>
    {% block bodyEnd %}{% endblock %}
  </body>
</html>