<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, minimal-ui">
    <link rel="apple-touch-icon-precomposed" href="/trained-to-thrill/static/imgs/icon.png">
    <link rel="icon" href="/trained-to-thrill/static/imgs/icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Trained To Thrill">
    <link rel="stylesheet" href="/trained-to-thrill/static/css/all.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="/trained-to-thrill/static/js/page.js"></script>
    {% block bodyEnd %}{% endblock %}
  </body>
</html>
