<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, minimal-ui">
    <link rel="apple-touch-icon-precomposed" href="/trained-to-thrill/static/imgs/icon.png">
    <link rel="icon" href="/trained-to-thrill/static/imgs/icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Trained To Thrill" />
    <link rel="stylesheet" href="/trained-to-thrill/static/css/all.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    <!-- yes, this should all be combined & minified, but this way is easier to read -->
    <script src="/trained-to-thrill/static/js/es6-promise.js"></script>
    <script src="/trained-to-thrill/static/js/utils.js"></script>
    <script src="/trained-to-thrill/static/js/flickr.js"></script>
    <script src="/trained-to-thrill/static/js/photos-template.js"></script>
    <!-- the main part of the app is in here -->
    <script src="/trained-to-thrill/static/js/app.js"></script>
    {% block bodyEnd %}{% endblock %}
  </body>
</html>