// overall structure
  body {
    @include display-flex;
    @include flex-flow(column);
  }

// site header
  @include keyframes (spin) {
    from {
      stroke-dashoffset: -29;
    }
    to {
      stroke-dashoffset: 222.33;
    }
  }

  .site-header {
    top: 0;
    left: 0;
    width: 100%;
    background: #DA50A8;
    overflow: hidden;
    position: relative;
    z-index: 10;
    
    & .logo {
      margin: 5px auto;
      display: block;
      width: 50px;
      height: 27px;
    }
    & .container {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 0 1rem;
    }
    & .inner {
      overflow: hidden;
      margin: 0 auto;
      max-width: 800px;
      height: 100%;
    }
    & .refresh {
      display: block;
      margin: 0 0 0 auto;
      position: relative;
      width: 20px;
      height: 100%;
      
      &:focus {
        outline: none;
        opacity: 0.7;
      }
      
      & svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &.loading {
        pointer-events: none;
        
        & circle {
          @include animation(spin 1s infinite linear);
          stroke-dasharray: 79.33 172;
        }
        & path {
          display: none;
        }
      }
      & circle {
        stroke-width: 20px;
        fill: none;
        stroke: #fff;
        stroke-linecap: round;
        stroke-dasharray: 201.33 50;
        stroke-dashoffset: -29;
      }
      & path {
        fill: #fff;
      }
    }
  }

// photo
  .photos {
    overflow-y: scroll;
    margin: 0;
    padding: 0 1rem;
    @include flex(1);
  }
  .photo {
    border-radius: 5px;
    background: #fff;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 800px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    
    & h1 {
      margin: 0;
      
      & a:link,
      & a:visited {
        color: #333;
      }
      & a:hover {
        color: #CE46C8;
        text-decoration: none;
      }
      & a:active {
        color: #FF00EB;
      }
    }
    & .title {
      display: block;
      margin: 1rem 0 0;
      font-size: 1rem;
      max-width: 570px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & .description {
      margin: 1rem 0 0;
      font-size: 0.9rem;
      max-width: 570px;
      overflow: hidden;
    }
  }
  .main-photo {
    display: block;
    position: relative;
    padding-top: 69.15%;
    background: #E9E9E9;
    overflow: hidden;

    @supports (object-fit: cover) {
      overflow: visible; // this saves us a lot of layer creation
      // and we don't overflow if the images fit
    }
    
    & .photo-fader {
      opacity: 0;
      @include transition(opacity 0.2s ease-out);

      &.loaded {
        opacity: 1;
      }
    }
    

    & img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      
      @supports (object-fit: cover) {
        height: 100%;
        object-fit: cover;
      }
    }
  }

// error
  .msg-container {
    position: fixed;
    top: 53px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0 1rem;
    pointer-events: none;
    display: none;
    opacity: 0;
    @include transition(opacity 0.5s ease-in-out);
    
    &.show {
      opacity: 1;
      display: block;
    }
  }
  .msg {
    margin: 0 auto;
    color: #FFF;
    background: rgba(0, 0, 0, 0.7);
    @include max-width-max-content;
    padding: 1rem 2rem;
    border-radius: 100px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.7);
  }